.train-box {
    background-color: var(--background-alt);

    padding: 1rem;
}

.train-nr {
    display: flex;
    align-items: center;

    label {
        color: var(--text-highlight);
        font-size: 2.2rem;
        font-weight: 600;

        margin: 0 1rem 0 2rem;
    }

    input {
        color: var(--text-highlight);
        background-color: var(--background-alt2);
    
        border: none;
        outline: none;
        // appearance: textfield;
    
        padding: 0.5rem 1.5rem;
        border-radius: var(--border-radius);
    
        font-size: 2.5rem;
        height: 100%;

        margin: 1rem;
    }
    input:focus {
        outline: 2px blue solid;
    }
}

.from-to-box {
    display: flex;
    flex-direction: row;

    fieldset {
        display: flex;
        flex-direction: column;
    
        width: 50%;
        margin: 1rem;
        padding: 1.5rem;
        padding-top: 0.5rem;
    
        color: var(--text-highlight);
        border-radius: var(--border-radius);

        border: 0.2rem white solid;
    
        font-size: 1.8rem;
        font-weight: 400;
    
        legend {
            margin: auto;
            padding: 0 1rem;
        
            font-size: 2.1rem;
            font-weight: bold;
            line-height: 1.1;
        }
        div {
            margin: 0.4rem 2rem;

            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            align-items: center;

            cursor: pointer;
        }

        label {
            cursor: pointer;

            font-weight: 500;
            transition: 120ms color ease-in-out;
        }
        label:hover {
            color: var(--color-primary-hover);
        }

        input[type="radio"] {
            // Remove default radio button
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            margin: 0;

            color: currentColor;

            width: 1em;
            height: 1em;
            outline: 0.15em solid currentColor;
            border-radius: 50%;

            position: relative;
            transition: 120ms outline-color ease-in-out;
        }
        input[type="radio"]:hover {
            outline-color: var(--color-primary-hover);
        }
        input[type="radio"]:checked {
            outline-color: var(--color-primary-hover);
        }
        input[type="radio"]::before {
            content: "";
            position: absolute;
            top: 0.175em;
            left: 0.175em;

            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            box-shadow: inset 1em 1em var(--color-primary-hover);

            transition: 120ms transform ease-in-out;
        }
        input[type="radio"]:checked::before {
            transform: scale(1);
        }
    }
}
.from-to-box.disabled {
    fieldset {
        color: var(--color-disabled);
        border-color: var(--color-disabled);
    }

    div {
        cursor: not-allowed;
    }

    label {
        cursor: not-allowed;
    }
    label:hover {
        color: var(--color-disabled);
    }

    input[type="radio"], input[type="radio"]:hover, input[type="radio"]:checked {
        outline-color: var(--color-disabled);
    }
    input[type="radio"]::before {
        box-shadow: inset 1em 1em var(--color-disabled);
    }
}

.shunting {
    width: fit-content;
    padding: 1rem 0 1rem 1.5rem;

    color: var(--text-highlight);

    font-size: 1.8rem;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items: center;

    cursor: pointer;

    label {
        cursor: pointer;

        margin-left: 1em;
        transition: 120ms color ease-in-out;
    }
    label:hover {
        color: var(--color-primary-hover);
    }

    input[type="checkbox"] {
        // Remove default checkbox
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        margin: 0;

        color: currentColor;

        width: 2.5em;
        height: 1.25em;
        outline: 0.15em solid currentColor;
        border-radius: 1.25em;

        position: relative;
        transition: 120ms outline ease-in-out;
    }
    input[type="checkbox"]:hover {
        outline: 0.15em solid var(--color-primary-hover);
    }
    input[type="checkbox"]:checked {
        outline: 0.15em solid var(--color-primary-hover);
    }
    input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 0.175em;
        left: 0.175em;

        width: 0.85em;
        height: 0.85em;
        border-radius: 50%;

        box-shadow: inset 1em 1em currentColor;

        transform: translateX(0);
        transition: 120ms all ease-in-out;
    }
    input[type="checkbox"]:hover::before {
        box-shadow: inset 1em 1em var(--color-primary-hover);
    }
    input[type="checkbox"]:checked::before {
        box-shadow: inset 1em 1em var(--color-primary-hover);
        transform: translateX(1.25em);
    }
}

.loco-btn {
    border-radius: var(--border-radius);
    border: 0.2em solid transparent;

    display: block;
    margin: 1rem auto;
    width: 60%;
    padding: 0.6em 1.2em;

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    color: var(--text-highlight);
    background-color: var(--color-primary);

    text-shadow: 0 0 1em black;

    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.loco-btn:hover {
    background-color: var(--color-primary-hover);
    border-color: white;
}
.loco-btn:focus, .loco-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.loco-box {
    width: 100%;
    background: red;
}