.video-selector {
    position: relative;

    width: 20rem;
    height: 100vh;
}
.video-selector::after {
    content: "";
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to bottom,
        color-mix(in srgb, var(--background-main) calc(100% * var(--top-fade)), transparent)  0%,
        color-mix(in srgb, var(--background-main) calc( 20% * var(--top-fade)), transparent) 20%,
        rgba(0, 0, 0, 0.0) 40%,
        rgba(0, 0, 0, 0.0) 60%,
        color-mix(in srgb, var(--background-main) calc( 20% * var(--bottom-fade)), transparent)  80%,
        color-mix(in srgb, var(--background-main) calc(100% * var(--bottom-fade)), transparent) 100%,
    );
}

.scroll-container {
    width: 100%;
    height: 100%;

    overflow: scroll;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    align-items: center;
}

// Hide scrollbar
.scroll-container {
    scrollbar-width: none; // Firefox
}
.scroll-container::-webkit-scrollbar, body::-webkit-scrollbar-button {
    display: none; // Chrome
}

.video {
    margin: 0.7rem 0;

    width: calc(100% - 2rem);
    scale: var(--normal-scale-factor);

    transition: all 0.2s ease-in-out;
}
.video:hover {
    scale: var(--hover-scale-factor);
}

.video .image-box {
    border-radius: var(--border-radius);
    transition: outline 0.1s ease-in-out;
}
.video:hover .image-box {
    outline: 0.4rem solid var(--color-primary-hover);
}
.video.selected .image-box {
    outline: 0.6rem solid var(--color-primary);
}