.train-list {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    overflow: scroll;

    .train-box {
        border-radius: calc(1.5 * var(--border-radius));
        margin: 0.5em 1em;
    }
    .train-btn {
        display: block;
        flex-shrink: 0;
        margin: 0.5em auto;

        font-size: 1.1em;

        width: 50%;
        height: 3.5em;
    }
}


.train-box {
    background-color: var(--background-alt);

    padding: 1rem;
    height: fit-content;

    font-size: 0.8em;
}

.train-nr {
    display: flex;
    align-items: center;
    margin: 0.5em;

    label {
        color: var(--text-highlight);
        font-size: 1.2em;
        font-weight: 600;

        margin: 0 1.5em 0 0.5em;
    }
    input {
        width: 100%;
        font-size: 1.3em;
    }
}
.train-info {
    margin: 0.5em;
    width: calc(100% - 1em);

    display: inline-block;
    text-align: center;

    font-size: 1.25em;

    p {
        display: inline;
    }
    span {
        margin: 0 0.5em;
    }

    .title {
        margin-right: 0.6em;

        font-weight: bold;
    }
    .time {
        margin-left: 0.6em;
    }
}

.from-to-box {
    display: flex;
    flex-direction: row;

    fieldset {
        display: flex;
        flex-direction: column;
    
        width: 50%;
        margin: 0.5em;
        padding: 0.75em;
        padding-top: 0.25em;
    
        color: var(--text-highlight);
        border-radius: var(--border-radius);

        border: 0.15em white solid;
    
        font-size: 1.125em;
        font-weight: 400;
    
        legend {
            margin: auto;
            padding: 0 0.5em;
        
            font-size: 1.15em;
            font-weight: bold;
            line-height: 1.1;
        }
        div {
            margin: 0.2em 1em;

            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            align-items: center;

            cursor: pointer;
        }
    }
}


.shunting {
    padding: 0.5em 0 0.5em 0.75em;

    font-size: 1.1em;
    font-weight: 500;
}


.loco-btn {
    margin: 1em auto;
    width: 60%;
    height: 3em;
    padding: 0.6em 1.2em;
}

.loco-box {
    width: calc(100% - 1em);
    background-color: var(--background-alt2);
    border-radius: var(--border-radius);

    padding: 0.6em;
    margin: 0.6em;

    .target-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.9em;

        input {
            font-weight: 600;
            text-align: center;

            padding: 0.25em 0.75em;
            height: 2.1em;
            width: 9ch;
        }

        p {
            margin: 0;

            color: var(--text-highlight);
            font-weight: 500;
            text-decoration: underline;
        }
    }

    .meta-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.5em;

        margin-top: 2em;

        .towed {
            padding: 0.5em 0 0.25em 0.25em;

            font-size: 2em;
            font-weight: 500;
        }

        div {
            display: flex;
        }

        .meta-btn {
            font-size: 1.7em;
        }
    }

}